<h4>Total Questions in Your Cart: {{totalQuestions}}</h4><ul>
{{#each questionCart.questions as |question|}}
  <div>
    <h3 class="center">{{question.ask}}</h3>
    <p class="center"><strong>Asker:</strong> {{question.author}}</p>
    <p class="center">Notes: {{question.notes}}</p>
  </div>
  <hr>
{{/each}}
</ul>
