<h4>Total Questions in Your Cart: {{totalQuestions}}</h4>
<ul>
{{#each questionCart.questions as |question|}}
  <div>
    {{#link-to 'question' question.id}}
    <h3 class="center">{{question.ask}}</h3>
    {{/link-to}}
    <p class="center"><strong>Asker:</strong> {{question.author}}</p>
    <p class="center">Notes: {{question.notes}}</p>
  </div>
  <hr>
{{/each}}
</ul>
