
  <div class="row">
    <div class="col-sm-1" >
      {{question-answer question}}
    </div>
    {{#link-to 'question' question.id}}
    <div >
      <h4 class="col-sm-10 centerit">{{question.ask}}</h4>
    </div>
    {{/link-to}}
    <div >
      <p class="col-sm-1 centerit"><strong>Answers:</strong> {{totalAnswers}}</p>
    </div>
  </div>
  <div class="row">
    <div class="centerit">
        <button class="waves-effect waves-green btn" {{action 'addToCart' question}}>Add to Favorites</button>
    </div>
  </div>
