{{#link-to 'question' question.id}}
<div id="border" >
  <h3 class="center">{{question.ask}} {{question-answer question}}</h3>
    <p class="center"><strong>Asker:</strong> {{question.author}}</p>
    
</div>
{{/link-to}}
