

  {{#link-to 'question' question.id}}
  <h3 class="center">{{question.ask}} {{question-answer question}}</h3>
    <p class="center"><strong>Asker:</strong> {{question.author}}</p>
    <hr>
  {{/link-to}}
