<div class="row about">

  <div class="container col-sm-10 col-md-10">
    <h2>About this Website</h2>
    <p class="">
      This Q & A message board was created using Ember.js as an exercise to explore the many aspects of the framework.  Users can create new questions to ask the internet and the internet can respond.
    </p>

    <p class="">
      Services were intetgrated allowing users to search through the questions asked and then select their favorites for reference later in the favorites cart.  Helpers were integrated that display an icon indicating questions that are hot.  Hot questions are those with more than two answers.  Additional helpers indicate questions that as of yet have no answers.  Computed properties were integrated which allow users to upvote answers they think are best as well as sorting of the answers by the number of upvotes.  Additional computed properties were integrated that allow the total number of questions in the favorites cart to be displayed.
    </p>
    <p class="">
    Data is persisted via models, Ember Data and Firebase.
    </p>
  </div>
</div>
