<div class="row about">

  <div class="container col-sm-10 col-md-10">
    <h2>About this Website</h2>
    <p class="">
      This Q & A message board was created using Ember.js as an exercise to explore the many aspects of the framework and how it's different portions interact.  Users can create new questions to ask the internet and the internet can respond.
    </p>

    <p class="">
      Services were intetgrated allowing users to search through the questions asked and then select their favorites for reference later in the favorites cart.
    </p>

    <p class="">
      Helpers were integrated that display a glyphicon to indicate hot questions.  Hot questions are those with more than two answers.  Additionally, they indicate questions that as of yet have no answers.
    </p>

    <p class="">
       Computed properties were integrated in several ways:
       <ol>
         <li>To allow users to upvote answers they think are best.</li>
         <li>Sorting of answers by the number of upvotes recieved.</li>
         <li>Showing how many answers each question has on the homepage.</li>
       </ol>
    </p>
    <p class="">
    Data is persisted via models, Ember Data and Firebase.
    </p>
  </div>
</div>
