

{{add-question addQuestion='addQuestion' forgetIt='forgetIt'}}

  <div class="row">
    <div class="display col-md-6 col-sm-offset-3">


      {{#each model.questions as |question|}}
        {{question-tile question=question}}
      {{/each}}

    </div>

  </div>
