

{{add-question addQuestion='addQuestion' forgetIt='forgetIt'}}

<div class="container">

    <div class="display">


      {{#each model.questions as |question|}}
        {{question-tile question=question}}
      {{/each}}
      
    </div>

</div>
