

{{add-question addQuestion='addQuestion' forgetIt='forgetIt'}}

<div class="container">




      {{#each model.questions as |question|}}
      <div id="border" >
        {{question-tile question=question answers=model.answers}}
      </div>
      {{/each}}

    

</div>
