<div class="container">

{{add-question addQuestion='addQuestion' forgetIt='forgetIt'}}
<hr>
  <div class="row">
    <div class="col-md-6">
      <h2 class="center">Current Questions:</h2>
      {{#each model as |question|}}
      <div id="border">
        <h3 class="center">{{question.question}}</h3>
          <p class="center"><strong>Asker:</strong> {{question.author}}</p>
        </div>
        {{/each}}
    </div>
    <div>
      Other data over here!!!!!!!!!
    </div>
  </div>
</div>
